/* Write your CSS here! */
@import url('https://fonts.googleapis.com/css?family=Space Mono|Source Serif Pro');

body { 
	max-width: 80%; 
	margin: 0 auto !important; 
	float: none !important;   
}



a {
    color: red;
}

a:visited{
    color: grey;
}

.container {
   display: flex;
   max-width: 80%;
   float: none;
   margin: 0 auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
  }
  
  /* Create four equal columns that sits next to each other */
     .column {
      flex: 32%;
      max-width: 32%;
      padding: 0 4px;
     }
  
  .columnOne {
    flex: 65%;
    max-width: 65%;
    padding: 0 4px;
  }
  .columnOne img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .columnTwo {
    flex: 30%;
    max-width: 32%;
    max-height: 700px;
    padding: 0 4px;
  }  

  .columnTwo img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .cropimg {
    position: absolute;
    clip: rect(0px,50px,100px,50px);
    
    }


  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  h1 {
    font-size: 40px;
    font-family: 'Space Mono';
    font-weight: 700;
    margin-block-start: 16px;
    margin-block-end: 0px;
  }

  h2 {
    font-size: 32px;
    font-family: 'Source Serif Pro';
    font-weight: 200;
    margin-block-start: 16px;
    margin-block-end: 0px;
  }

  h3 {
    font-size: 24px;
    font-family: 'Source Serif Pro';
    font-weight: 200;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  h4 {
    font-size: 16px;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    text-transform: uppercase;
    margin-block-start: 16px;
    margin-block-end: 0px;
  }

  h5 {
    font-size: 8px;
    font-family: 'Source Serif Pro';
    font-weight: 900;
    font-style: italic;
  }

   h6 {
    font-size: 8px;
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
  }

  ul {
    list-style-type:square;
  }